<header class="container">
	<div class="row" id="header-search">
	  <!-- 首页LOGO -->
	  <div class="col-md-3">
	  	<a href="{:U('Index/index')}"><img src="__PUBLIC__/img/logo.png" class="img-responsive" alt="{:c('WEB_NAME')}"></a>
	  </div>
	  <!-- 搜索 -->
	  <div class="col-md-6" id="header-search-search">
	  	<form action="###" method="get">
		  	<div class="input-group">
		      <input type="text" class="form-control">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="submit">
		        	<span class="glyphicon glyphicon-search"></span>
		        </button>
		      </span>
		    </div>	<!-- /input-group -->
	    </form>
	  </div>
	  <div class="col-md-3"></div>
	</div>	
</header>