<extend name="Common@Public:base" />

<block name="title">后台 - 商品种类</block>

<block name="body">
    <include file="Public:nav" />

    <div class="container">

        <form>

            <div class="form-group">
                <label for="parentIdSelect">上一级分类</label>
                <select id="parentIdSelect" class="form-control">
                    <option value="0">不选，作为顶级分类</option>
                    <option value="1">XXXXX</option>
                </select>
            </div>

        </form>

    </div>	<!-- /container -->

</block>

<block name="css">
</block>

<block name="js">
</block>
