<extend name="Common@Public:base" />
<block name="css">
</block>
<block name="js">
</block>
<block name="body">
    <div class="container">
    	<div class="col-md-offset-4 col-md-4">
	      <form class="form-signin" role="form">
	        <h2 class="form-signin-heading text-center">买买网后台</h2>
	        <input type="email" class="form-control" placeholder="管理员账号" required autofocus>
	        <input type="password" class="form-control" placeholder="密码" required>
	        <div class="row">
	        	<div class="col-md-8">
	        		<input type="text" class="form-control" id="verify" placeholder="验证码">
	        	</div>
	        	<div class="col-md-4">
	        		<img src="..." alt="验证码" title="点击换一张" width="90px" height="34px" />
	        	</div>
	        </div>
	        <div class="checkbox">
	          <label>
	            <input type="checkbox" value="remember-me"> 十天内自动登陆
	          </label>
	        </div>
			<div class="form-group">   
	        	<button class="btn btn-lg btn-primary btn-block" type="submit">登陆到后台</button>
	        </div>
	      </form>
		</div>
    </div> <!-- /container -->
</block>