<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="javascript:;">买买网后台</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav">
        <li><a href="{:U('Index/manage')}">主页</a></li>
        <li><a href="{:U('Category/index')}">商品种类</a></li>
        <li><a href="{:U('Index/phpinfo')}">phpinfo</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li><a id="adminNamePanel" href="javascript:;">[ {$Think.session.admin.name} ]</a></li>
        <li><a id="signOutBtn" href="javascript:;">注销</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

<script type="text/javascript" charset="utf-8">
var navG = {
    "postSignOutUrl":       "{:U('Api/Admin/postSignOut')}",
    "adminIndexUrl":        "{:U('Index/index')}"
};

window.addEventListener("load", function() {

    // 注销操作
    $("#signOutBtn").bind("click", function() {
        // 确定框
        if (!confirm("您确定要注销吗？")) {
            return false;
        }
        // 执行注销操作
        $.post(navG.postSignOutUrl, function(data) {
            console.log(data);

            if (data.status != 200) {
                alert(data.msg);
            }

            // 注销成功，跳转到登录页面
            location = navG.adminIndexUrl;
        }, "json");
    });

});
</script>
