<extend name="Public:base" />
<block name="css">
	<style></style>
</block>
<block name="js">
</block>
<block name="body">
	<include file="Public:nav" />
	<include file="Public:headerSearch" />
	<section class="container">
		<!-- 路径导航 -->
		<ol class="breadcrumb">
		  <li><a href="#">Home</a></li>
		  <li><a href="#">Library</a></li>
		  <li class="active">Data</li>
		</ol>
		<div class="row">
			<!-- 左边：商品图片 -->
			<div class="col-md-4">
				<div id="items_carousel" class="carousel slide" data-ride="carousel">
				  <div class="carousel-inner" role="listbox">
				    <div class="item active">
						<img src="__PUBLIC__/img/default_item.jpg" alt="..." class="img-thumbnail img-responsive">
				    </div>
				    <div class="item">
				    	<img src="__PUBLIC__/img/default_item.jpg" alt="..." class="img-thumbnail img-responsive">
				    </div>
				  </div>
				</div>
				<div class="row">
					<div class="col-xs-2">
					    <a href="#" class="thumbnail">
					      <img class="img-responsive" data-src="holder.js/100%x180" src="__PUBLIC__/img/default_item.jpg" alt="...">
					    </a>
					</div>
					<div class="col-xs-2">
					    <a href="#" class="thumbnail">
					      <img class="img-responsive" data-src="holder.js/100%x180" src="__PUBLIC__/img/default_item.jpg" alt="...">
					    </a>
					</div>
				</div>
			</div>
			<!-- 右边：商品资料等等 -->
			<div class="col-md-6">
				<div class="panel panel-default">
				  <!-- 商品名称 -->
				  <div class="panel-heading">
				  	<strong>老鼠药</strong>
				  </div>
				  <!-- 商品价格 -->
				  <div class="panel-body">
					<small class="text-left">价格：</small>
					<strong class="text-right text-danger">￥1000.00</strong>
				  </div>
				  <!-- 类别 -->
				  <ul class="list-group">
				    <li class="list-group-item">Cras justo odio</li>
				    <li class="list-group-item">Dapibus ac facilisis in</li>
				    <li class="list-group-item">Morbi leo risus</li>
				    <li class="list-group-item">Porta ac consectetur ac</li>
				    <li class="list-group-item">Vestibulum at eros</li>
				  </ul>
				  <div class="panel-footer">
				  	<div class="form-inline" role="form">
				  		<small>数量：</small>
					  	<input type="number" class="form-control" value="1" style="">
					  	<button type="button" class="btn btn-warning">立即购买</button>
					  	<button type="button" class="btn btn-default">加入购物车</button>
				  	</div>
				  </div>
				</div>
			</div>
		</div>
	</section>
	<article class="container">
		<!-- 分类 -->
		<ul class="nav nav-tabs" role="tablist">
		  <li role="presentation" class="active"><a href="#details" role="tab" data-toggle="tab">商品详情</a></li>
		  <li role="presentation"><a href="#comment" role="tab" data-toggle="tab">累计评论 <strong class="text-danger">1234</strong></a></li>
		  <li role="presentation"><a href="#record" role="tab" data-toggle="tab">成交记录 <strong class="text-danger">1234</strong></a></li>
		</ul>
		<!-- 内容 -->
		<div class="tab-content">
		  <div role="tabpanel" class="tab-pane active" id="details">
		  asd
		  </div>
		  <div role="tabpanel" class="tab-pane" id="comment">
		  er
		  </div>
		  <div role="tabpanel" class="tab-pane" id="record">
		  er
		  </div>
		</div>
	</article>
	<include file="Public:footer" />
</block>