<div class="row">
	<div class="well well-sm">
		<div class="row">
			<div class="col-md-1 col-xs-2 text-center"><input type="checkbox" /></div>
			<div class="col-md-3 col-xs-10 text-center">商品</div>
			<div class="col-md-2 col-xs-3 text-center">单价</div>
			<div class="col-md-2 col-xs-3 text-center">数量</div>
			<div class="col-md-2 col-xs-3 text-center">总价</div>
			<div class="col-md-2 col-xs-3 text-center">操作</div>
		</div>
	</div>
	<!-- 购物车分类 -->
	<for start="0" end="5" name="i">
	<div class="panel panel-default">
	  <div class="panel-body">
		<div class="row">
			<div class="col-md-1 col-xs-2 text-center"><input type="checkbox" /></div>
			<div class="col-md-3 col-xs-10 text-center">
				<div class="media">
				  <a class="media-left" href="#">
				    <img src="__PUBLIC__/upload/goods/2014/12/22/123456.jpg" class="img-rounded good-pic" alt="goods">
				  </a>
				  <div class="media-body">
				    <h5 class="media-heading">戴尔电脑</h5>
				    <small>款式：最新的</small>
				  </div>
				</div>				
			</div>
			<div class="col-md-2 col-xs-3 text-center"><strong>￥5000</strong></div>
			<div class="col-md-2 col-xs-3 text-center"><input id="qty-input" type="number" class="form-control" min="1" value="1"></div>
			<div class="col-md-2 col-xs-3 text-center"><strong class="text-danger">￥5000</strong></div>
			<div class="col-md-2 col-xs-3 text-center">
				<a href="#">加入收藏</a><br /><a href="#">删除</a>
			</div>
		</div>
	  </div>
	</div>
	</for>
	<!-- 结算 -->
	<div class="well well-sm">
		<div class="row">
			<div class="col-md-1 col-xs-2 text-center"><input type="checkbox" /></div>
			<div class="col-md-5 col-xs-3 text-left">
				<a href="#">删除</a>&nbsp;&nbsp;
				<a href="#">清除失效商品</a>
			</div>
			<div class="col-md-6 col-xs-3 text-right">
				<button type="button" class="btn btn-warning" disabled="disabled">结算</button>&nbsp;&nbsp;
			</div>
		</div>
	</div>	
</div>