<extend name="Public:base" />
<block name="title">{$web_title}</block>
<block name="css">
	<css href="__PUBLIC__/css/common.css" />
	<css href="__PUBLIC__/bootstrap/css/bootstrap-datetimepicker.css" />
	<style type="text/css">
		#avatar {
			width: 60px;
			height: 60px;
		}
		#avatar-big {
			width: 150px;
			height: 150px;
		}
		.nav-tabs {
			margin-bottom: 15px;
		}
		.good-pic {
			width: 85px;
			height: 85px;
		}
		#jump-input {
			width: 45px;
			height: 22px;
		}
		.pagination {
			margin: 0;
		}
		#qty-input {
			width: 80px;
		}
	</style>
</block>
<block name="js">
	<js href="__PUBLIC__/js/common.js" />
	<js href="__PUBLIC__/bootstrap/js/bootstrap-datetimepicker.js" />
	<script type="text/javascript">
		var args = {
			mod: "{$mod}",
			url: "{:U('User/ajaxREPLACE')}"
		};
	</script>
	<js href="__PUBLIC__/js/User/index.js" />
</block>
<block name="body">
	<include file="Public:nav" />
	<include file="Public:headerSearch" />
	<section class="container">
		<aside class="col-md-3">
			<div class="list-group">
			  <a href="{:U('User/index', 'mod=Center')}" class="list-group-item active">个人中心</a>
			  <a href="{:U('User/index', 'mod=Account')}" class="list-group-item">账号管理</a>
			  <a href="{:U('User/index', 'mod=Cart')}" class="list-group-item"><span class="badge">4</span>购物车</a>
			  <a href="{:U('User/index', 'mod=Order&type=all')}" class="list-group-item"><span class="badge">4</span>我的订单</a>
			  <a href="{:U('User/index', 'mod=Point')}" class="list-group-item"><span class="badge">4</span>我的积分</a>
			  <a href="{:U('User/index', 'mod=Star')}" class="list-group-item"><span class="badge">4</span>我的收藏</a>
			  <a href="{:U('User/index', 'mod=Comment')}" class="list-group-item"><span class="badge">4</span>我的评价</a>
			</div>
		</aside>
		<article id="main" class="col-md-9">
		</article>
	</section>
	<include file="Public:footer" />
</block>