<extend name="Common@Public:base" />
<block name="css">
	<style type="text/css">
		#avatar {
			width: 60px;
			height: 60px;
		}
		#avatar-big {
			width: 150px;
			height: 150px;
		}
		.nav-tabs {
			margin-bottom: 15px;
		}
		.good-pic {
			width: 85px;
			height: 85px;
		}
		#jump-input {
			width: 45px;
			height: 22px;
		}
		.pagination {
			margin: 0;
		}
		#qty-input {
			width: 80px;
		}
	</style>
</block>
<block name="js">
</block>
<block name="body">
	<include file="Public:nav" />
	<include file="Public:headerSearch" />
	<section class="container">
		<include file="leftNav" />
		<article id="main" class="col-md-9">
			<div class="row">
				<for start="0" end="9">
				<div class="col-md-4 col-sm-6">
					<a href="#" class="thumbnail text-center">
						<h4>老鼠药</h4>
						<img src="__PUBLIC__/img/keyboard.jpg" data-src="holder.js/100%x180" alt="star">
						<strong class="text-danger">￥100</strong>
					</a>
				</div>
				</for>
			</div>
			<!-- 分页栏 -->
			<nav class="row">
				<div class="col-md-2"></div>
				<div class="col-md-6 text-right">
					<ul class="pagination pagination-sm">
						<li class="disabled"><a href="javascript:void(0)">&laquo;</a></li>
					    <li class="active"><a href="javascript:void(0)">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>
				</div>
				<div class="col-md-4 text-right">
					<form class="form-inline" role="form">
					  <small>共 100 页，到</small>
					  <input id="jump-input" class="form-control input-sm" value="1" />
					  <small>页</small>
					  <button type="submit" class="btn btn-default btn-xs">确定</button>
					</form>
				</div>
			</nav>
		</article>
	</section>
	<include file="Public:footer" />
</block>