<extend name="Public:base" />

<block name="title">后台 - 商品种类</block>

<block name="body">
	<include file="nav" />
	<div class="container">
		<div class="col-md-10 col-md-offset-1">
		    <div class="input-group">
				<input type="text" class="form-control" placeholder="分类名称">
				<span class="input-group-btn">
					<button id="addBtn" class="btn btn-default" type="button">新增分类</button>
				</span>
			</div><!-- /input-group -->	
			<hr />
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Operate</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>	<!-- /container -->
	<nav>
		<ul class="pager">
			<li><a href="#">Previous</a></li>
			<li><a href="#">Next</a></li>
		</ul>
	</nav>
</block>

<block name="css">
</block>

<block name="js">
	<include file="js" />
</block>
