<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="javascript:;">买买网后台</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{:U('Admin/main')}">主页</a></li>
        <li><a href="{:U('Admin/category')}">商品种类</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a id="adminNamePanel" href="javascript:;"></a></li>
        <li><a id="signOutBtn" href="javascript:;">注销</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
