@CHARSET "UTF-8";

header {
	margin-top: 60px;
}

#header-one, #header-two, section, footer {
	margin-bottom: 30px;
}

#header-one-search, #xxx-panels {
	padding-top: 15px;
}

/* 其他登陆方式图标 */
.icon-link {
	display: inline-block;
	width: 24px;
	height: 24px;
	overflow: hidden;
}

.icon-link img {
	vertical-align: middle;
}
