<aside class="col-md-3">
	<div class="list-group">
	  <a href="{:U('User/index')}" class="list-group-item active">个人中心</a>
	  <a href="{:U('User/account', 'mod=0')}" class="list-group-item">账号管理</a>
	  <a href="{:U('User/cart')}" class="list-group-item"><span class="badge">4</span>购物车</a>
	  <a href="{:U('User/order', 'mod=0')}" class="list-group-item"><span class="badge">4</span>我的订单</a>
	  <a href="{:U('User/point')}" class="list-group-item"><span class="badge">4</span>我的积分</a>
	  <a href="{:U('User/star')}" class="list-group-item"><span class="badge">4</span>我的收藏</a>
	  <a href="{:U('User/comment')}" class="list-group-item"><span class="badge">4</span>我的评价</a>
	</div>
</aside>