.table>tbody>tr>td {
    vertical-align: middle;
}
#editPicImg {
    width: 100px;
    height: 100px;
    cursor: pointer;
    vertical-align: top;
}
#editPicTip, #editPicInput {
    margin-left: 1em;
}
